# Umgebung des todo-Dienstes. Liegt als /etc/todo.env:
#   sudo chown root:todo /etc/todo.env && sudo chmod 640 /etc/todo.env
#
# deploy/setup-todo.sh schreibt den Wert selbst - aus der nginx-Map, in der
# er ohnehin steht.

# Der geteilte Privat-Modus-Token von fherrmann.com
# (/etc/nginx/conf.d/private-mode.conf).
FH_PRIVATE_TOKEN=changeme
